.header {
  width: 100%;
  height: 6rem;
  background-color: rgb(33, 33, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

a:link,
a:visited {
  color: #ffffff; /* 设置链接的颜色，例如蓝色 */
  text-decoration: none; /* 取消链接的下划线 */
}
